trunk/Medicare/Medicare-ejb/src/conf/xml-resources/web-service-references/DoseCheckerBean_1/wsdl/chaos169.test.atlantis.ugent.be_8080/DoseCheckerBeanService/DoseCheckerBean.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://entities/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://entities/">

<xs:element name="getVariableDose" type="tns:getVariableDose"></xs:element>

<xs:element name="getVariableDoseForName" type="tns:getVariableDoseForName"></xs:element>

<xs:element name="getVariableDoseForNameResponse" type="tns:getVariableDoseForNameResponse"></xs:element>

<xs:element name="getVariableDoseResponse" type="tns:getVariableDoseResponse"></xs:element>

<xs:complexType name="getVariableDose">
<xs:sequence>
<xs:element name="measurementType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="measurementValue" type="xs:double"></xs:element>
<xs:element name="medicationID" type="xs:long"></xs:element>
<xs:element name="standardDose" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVariableDoseResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVariableDoseForName">
<xs:sequence>
<xs:element name="measurementType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="measurementValue" type="xs:double"></xs:element>
<xs:element name="medication" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="standardDose" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVariableDoseForNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>